<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Username</span>
    </div>
    <div class="span2">
      <%= @user.username %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">First Name</span>
    </div>
    <div class="span2">
      <%= @user.first_name %>
    </div>
  </div>
</div>
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Last Name</span>
    </div>
    <div class="span2">
      <%= @user.last_name %>
    </div>
  </div>
</div>          
<div class="widget-content">
  <div class="row row-size margin_from_top">
    <div class="span2 offset1" style="text-align:left">
      <span style="font-weight:bold">Email</span>
    </div>
    <div class="span2">
      <%= @user.email %>
    </div>
  </div>
</div><br/>
